.footer {
  background-color: $text-color;
  color: $white;
  padding: 1.5rem 0;
  // text-align: justify;

  & .footer__title {
    font-size: 1rem;
    margin: 0;
  }

  & .footer__text {
    font-size: 0.75rem;
  }

  & .footer-list {
    font-size: 0.75rem;
    list-style: none;
    padding: 0;
  }

  & .footer-list__link {
    color: $white;
  }

  & .footer-list__item {
    margin-bottom: 1rem;
  }

  & .footer__header {
    min-height: 55px;
    margin-bottom: 1rem;
  }
}
