.header-page {
  background-color: $main-background;
  padding: 1.75rem 0;
  overflow: hidden;
  position: relative;
  @include response-min($l){
    padding: 3.75rem 0;
  }

  & .header-page__category {
    color: $yellow-color;
    font-weight: $regular-font;
    margin-bottom: 0.5rem;
    display: block;
  }

  & .header-page__arrow {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 90%;
    animation: scroll infinite 1s ease-in-out;
  }

  & .header-page__image--circle {
    border-radius: 100%;
    max-width: 400px;
    width: 100%;
    z-index: 1;
  }

  & .header-page__date {
    padding-left: 1.5rem;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      width: 1rem;
      height: 1rem;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-position: center;
      background-size: contain;
      background-image: url(../../img/reloj.svg);
    }
  }

  & .header-page__image {
    position: relative;
    &::before,
    &::after {
      content: "";
      background-position: center;
      width: 150px;
      background-size: contain;
      height: 150px;
      position: absolute;
      z-index: 2;
    }
    &::before {
      top: 0;
      left: 2rem;
      background-image: url(../../img/sustentabilidad-icon.svg);
    }
    &::after {
      bottom: 0;
      right: 1rem;
      background-image: url(../../img/sustentabilidad-icon2.svg);
    }

    // VARIACION PARA EL BLOG
    &.header-page__image--blog {
      &::before {
        background-image: url(../../img/blog-icon.svg);
      }
      &::after {
        background-image: url(../../img/blog-icon2.svg);
      }
    }

    // VARIACION PARA EL COTIZADOR
    &.header-page__image--cotizador {
      &::before {
        display: none;
        background-image: url(../../img/blog-icon.svg);
      }
      &::after {
        background-image: url(../../img/blog-icon2.svg);
      }
    }
  }

  & .header-page__overlay {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 80%;
      width: 100%;
      height: 130%;
      background-color: $text-color;
      margin-top: 2rem;
      @include response-min($l){
        margin-top: 0;
        height: 200%;
      }
    }
    &.header-page__overlay--blue {
      &::before {
        background-color: $light-blue;
      }
      
    }

    
  }

  & .header-page__overlay--dots{
    position: relative;
    &::after{
      content:"";
      width: 150px;
      height: 150px;
      background-image: url(../../img/pattern-dots.svg);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      bottom: 0%;
      left: 60%;
      z-index: 2;
      @include response-min($l){
        width: 200px;
        height: 200px;
      }
      
    }
  }

  & .header-page__title {
    margin: 0 0 1.25rem 0;
  }

  & .header-page__text {
    margin-bottom: 0.75rem;
    &:last-of-type {
      margin-bottom: 1.25rem;
    }
  }
}

@keyframes scroll {
  0% {
    margin-top: -4px;
  }
  100% {
    margin-top: 8px;
  }
}
