.cotizador {
  background-color: $primary-color;
  color: $white;
  padding: 2.25rem 0;
  border-radius: 0.5rem;

  & .cotizador-form{
    margin-top: 1.5rem;
    @include response-min($l) {
      margin-top: 0;
    }
  } 

  & .cotizador__content,
  & .cotizador-form {
    width: 100%;
    @include response-min($l) {
      width: 75%;
    }
  }

  & .cotizador-form__input,
  & .cotizador-form__button {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    border: 0;
  }

  & .cotizador-form__button {
    background-color: $blue-color;
    color: $white;
  }
}

.cotizador-response {
  & .cotizador-response__title,
  & .cotizador-response__monto {
    margin: 0;
    padding: 0;
  }

  & .cotizador-response__values {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 1rem;
  }

  & .cotizador-response__heading {
    font-weight: $bold-font;
    margin: 0;
  }

  & .cotizador-response__cta {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    a {
      margin-right: 1rem;
    }
  }
}
