.popup {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba($color: #000000, $alpha: 0.8);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  
  & .popup__container {
    width: 80%;
    height: 80vh;
    background-color: $white;
    padding: 2rem;
    overflow: auto;
  }

  & .popup__header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
  }

  & .popup__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    @include response-min($l) {
      flex-direction: row;
    }
  }

  & .popup__image {
    width: 100%;
    
    @include response-min($l) {
     width: 20%;
    }
  }

  & .popup__img{
    display: block;
    margin: 0 auto;
  }

  & .popup__description{
    overflow: scroll;
  }

  & .popup__text {
    width: 100%;
    @include response-min($l) {
      width: 70%;
     }
  }
}
