.video {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  & .video__player{
    width: 80%;
  }

  & .video__close {
    color: #fff;
    cursor: pointer;
    width: 80%;
    text-align: right;
    margin-bottom: 10px;
  }
}
