.we {
  &.we--black {
    background-color: $text-color;
    color: $white;
  }

  & .we__image {
    height: auto;
    width: 100%;
    @include response-min($l) {
      height: 100%;
    }
  }

  & .we__article {
    max-width: 100%;
    @include response-min($l) {
      max-width: 70%;
    }
  }

  & .we__title {
    max-width: 90%;
    margin-top: 1rem;
    @include response-min($l) {
      max-width: 50%;
    }
    &.we__title--sm {
      @include response-min($l) {
        max-width: 40%;
      }
    }
  }
}
