.we {
  &.we--black {
    background-color: $text-color;
    color: $white;
  }

  & .we__image {
    height: 100%;
  }

  & .we__article {
    max-width: 70%;
  }

  & .we__title {
    max-width: 50%;
    &.we__title--sm {
      max-width: 40%;
    }
  }
}
