html {
  font-size: 20px;
}
body {
  font-family: $primary-font;
  font-weight: $light-font;
  color: $text-color;
}
p {
  line-height: calc(1rem + 0.5rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $bold-font;
  font-style: italic;
}

.title {
  font-size: 2.8rem;
  @include response-min($l) {
    font-size: 3rem;
  }
}

.subtitle {
  font-size: 1.5rem;
}
